* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Delete modal */
.faded-md {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73.25rem;
  height: 56.25rem;
  left: 16.75rem;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}
.modal {
  width: 485px;
  height: 508px;
  left: 611px;
  top: 196px;
  background: #ffffff;
  border-radius: 5px;
}
.d-img2 {
  position: absolute;
  left: 33.1rem;
  top: 17.5rem;
  width: 120px;
  height: 120px;
}
.d-img5 {
  position: absolute;
  left: 35.1rem;
  top: 19.3rem;
  width: 60px;
  height: 75px;
}
.d-img3 {
  position: absolute;
  left: 35.8rem;
  top: 18.5rem;
  height: 10px;
}
.d-img3-2 {
  position: absolute;
  left: 34.7rem;
  top: 19.4rem;
  width: 75px;
  height: 12px;
  z-index: 2;
}
.d-img4 {
  position: absolute;
  left: 35.55rem;
  top: 22.6rem;
  width: 46px;
  z-index: 2;
}
.d-img1 {
  position: absolute;
  left: 40.1rem;
  top: 19.7rem;
  z-index: 2;
}
.star-img {
  position: absolute;
  left: 44%;
  right: 43.21%;
  top: 32%;
  bottom: 80.33%;
}
.d-img6 {
  position: absolute;
  left: 44%;
  right: 43.21%;
  top: 32%;
  bottom: 80.33%;
  z-index: 2;
}
.delete-content {
  text-align: center;
  padding-top: 9rem;
}
.delete-head {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #29429a;
}
.delete-info {
  font-size: 12px;
  line-height: 163.42%;
  width: 300px;
  margin: auto;
  font-family: 'Lato', sans-serif;
}
.delete-btn {
  background: #00b87c;
  padding: 12px 16px;
  margin-top: 2rem;
  border: none;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  width: 10rem;
  height: 2.4rem;
  z-index: 3;
}
.cancel-modal {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 2rem;
  margin-left: 25rem;
  font-size: 1.1rem;
}
